<div>
  <md-toolbar color="warn">
      <span>save air berlin</span>
      <span class="example-spacer"></span>
      <md-icon class="example-icon">favorite</md-icon>
    </md-toolbar>

    <div class="air-image">
      <img src="assets/air.jpg" alt="airberlin">
    </div>

    <div class="voting-left">
      <img src="assets/vote-sam.png" class="sam-image">

      <h2>Votes results:
        <span class="voting-count">
          <!-- OUR CONNECTION TO THE STORE SUBSCRIPTION -->
          {{ votes }}
        </span>
      </h2>

      <h3 class="voting-header">Uncle Sam needs you to choose your destiny:</h3>

      <button md-raised-button class="voting-button" color="primary" (click)="increment()">
        I AM WITH YA ALL, SIGN ME UP!
      </button>

      <button md-raised-button class="voting-button" color="warn" (click)="decrement()">
        I AM AGAINST, GO LUFTHANSA!
      </button>

      <button md-raised-button class="voting-button" (click)="reset()">
        START OVER
      </button>
    </div>
</div>

<br>
<div>
  <md-list>
    <h2 class="fame">HALL OF FAME</h2>
    <md-list-item class="md-2-line" *ngFor="let participant of participants">
      <div class="md-list-item-text">
        <h3>{{participant.name}}</h3>
      </div>
    </md-list-item>
  </md-list>
</div>
